
@import 'variables';

* {
    font-family: Helvetica, Arial, Sans-Serif;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: 0;
}

body {
    margin: 0;
    font-size: 14px;
}

.no-script .script-only {
    display: none;
}

.tranz {
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    transform: translateZ(0);
}

.hidden {
    display: none !important;
}

%abs-before {
    &::before {
        content: '';
        position: absolute;
        display: block;
    }
}

%abs-after {
    &::after {
        content: '';
        position: absolute;
        display: block;
    }
}

h1, h2 {
    display: inline-block;
    background: $trans-grey;
    padding: 10px;
    color: white;
    position: relative;
    margin-bottom: 25px;

    @extend %abs-after;

    &::after {
        left: 0;
        width: 100%;
        height: $post-line-2-height;
        bottom: -4px;
        background: $trans-grey;
    }
}

h2 {
    font-size: 1.3em;
}

section {
    padding: $section-padding-vert $section-padding-horiz;
    background: white;
    position: relative;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    @extend %abs-before;
    @extend %abs-after;

    &::before, &::after {
        left: 0;
        width: 100%;
        background: inherit;
        opacity: 0.7;
    }

    &::before {
        top: -10px;
        height: $post-line-2-height;
    }
    &::after {
        top: -4px;
        height: $post-line-2-height;
    }

    &:nth-child(2n) {
        background: #ececec;
    }
}

a {
    text-decoration: none;
    color: white;
    position: relative;

    @extend %abs-after;

    &::after {
        bottom: 0;
        left: 0;
        width: 100%;
        height: $post-line-1-height;
        background: white;
    }
}

dt, dd{
    width: 50%;
    padding: 0 5px;
}
dt {
    text-align: right;
}
dd {
    margin: -1.1em 0 5px 50%;
}

.screen-content {
    max-width: $max-content-width;
    margin: auto;
}

.hero {
    background: $main-colour;

    * {
        color: white;
    }

    h1, h2 {
        background: $trans-grey;
        &::after {
            background: $trans-grey;
        }
    }

    header {
        text-align: right;
    }
}
.hero-content {
    position: relative;
}
.hero-image {
    background: $trans-grey;
    position: absolute;
    right: 0;
    top: 0;
    height: $hero-image-size-small;
    width: $hero-image-size-small;
}
.hero-content-header {
    display: inline-block;
}

.page-nav {
    margin: -10px 0 $section-padding-vert;
}

.image-link {
    display: block;
    position: relative;
    height: $image-link-height;
    margin-bottom: 5px;

    &::after {
        display: none;
    }

    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background: $trans-grey;
    }

    span {
        position: absolute;
        left: $section-padding-horiz;
        bottom: $section-padding-horiz;
        @extend %abs-after;

        &::after {
            bottom: 0;
            left: 0;
            width: 100%;
            height: $post-line-1-height;
            background: white;
        }
    }
}

article {
    margin-bottom: 15px;

    header {
        margin-bottom: 10px;
        border-bottom: 1px solid $main-colour;
        padding: 10px 10px 8px;
        margin: 0 -10px 10px;
    }
    .head {
        margin-bottom: 0;
    }
}

.skill {
    padding: 10px;
    position: relative;
    margin-bottom: 5px;
    text-shadow: 1px 1px rgba(255,255,255,0.5);

    .value {
        position: absolute;
        right: 10px;
        top: 10px;
    }

    &[data-value="9"], &[data-value="8"] {
        background: $skill-colour-top;
    }
    &[data-value="7"], &[data-value="6"]  {
        background: $skill-colour-high;
    }
    &[data-value="5"], &[data-value="4"] {
        background: $skill-colour-med;
    }
    &[data-value="3"], &[data-value="2"], &[data-value="1"] {
        background: $skill-colour-low;
    }

    &[data-value="9"] {
        width: 95%;
    }
    &[data-value="8"] {
        width: 90%;
    }
    &[data-value="7"] {
        width: 85%;
    }
    &[data-value="6"] {
        width: 80%;
    }
    &[data-value="5"] {
        width: 75%;
    }
    &[data-value="4"] {
        width: 70%;
    }
    &[data-value="3"] {
        width: 65%;
    }
    &[data-value="2"] {
        width: 60%;
    }
    &[data-value="1"] {
        width: 55%;
    }
}

.cheev {
    padding: $section-padding-horiz;
    background: $grey;
    margin: 0 0 5px;
    min-height: $cheev-icon-size + $section-padding-horiz * 2;
    padding-right: $cheev-icon-size + $section-padding-horiz * 2;
    border-bottom: 1px solid $main-colour;

    .name {
        display: block;
        font-weight: bold;
        margin-bottom: $section-padding-horiz;
    }
}

.contact {
    text-align: center;
}
.footer-link {
    color: $main-colour;
    margin: 0 10px;

    &::after {
        background: $main-colour;
    }
}

@media (max-width: $media-query-width-medium) {

    .image-link {
        margin-left: -$section-padding-horiz;
        margin-right: -$section-padding-horiz;
        padding: 0 $section-padding-horiz;
        -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;
        box-sizing: content-box;
    }

    .hero p {
        text-align: center;
    }
    .hero-content-header {
        position: relative;

        h2 {
            padding-right: $hero-image-size-small + $section-padding-horiz;
        }
    }
}

// BP 1
@media (min-width: $media-query-width-medium) {
    .page-nav {
        text-align: center;

        a {
            margin: 0 10px;
        }
    }

    article {
        .head {
            display: inline-block;
        }
        .sub-head {
            float: right;
        }
    }

    .article-body {
        padding-right: $section-padding-horiz;
    }

    .side-links {
        position: relative;
        padding-right: 40%;

        .image-links {
            position: absolute;
            top: 0;
            right: 0;
            width: 40%;
        }

        .image-link {
            height:  $image-link-height-2;
        }

        &.two-links {
            min-height: (2 * $image-link-height-2) + 5px; // gap between is 10px;
        }
    }

    // Hero stuff
    .hero header {
        text-align: center;
    }
    .hero-content {
        min-height: $hero-image-size;
        padding-right: $hero-image-size + $section-padding-horiz;
    }
    .hero-image {
        position: absolute;
        height: $hero-image-size;
        width: $hero-image-size;
    }

    .skill-list {
        position: relative;
        padding-right: 50%;
    }
    .secondary {
        position: absolute;
        top: 0;
        left: 50%;
        right: 0;
        padding-left: 10px;
    }
}

@media (min-width: $max-content-width + 2 * $section-padding-horiz) {
    article header {
        padding-left: 0;
        padding-right: 0;
        margin: 0 0 10px;
    }
}



