
@import 'variables';
@import 'mixins';

.hero-image {
    background-size: cover;
    @include image('profile.jpg');
}

.image-link {
    background-size: cover;

    &.center {
        background-position: center;
    }

    &.badoo {
        @include image('badoo.jpg');
    }
    &.hon {
        @include image('hon.jpg');
    }
    &.tfl {
        @include image('tfl.jpg');
    }
    &.ps {
        @include image('ps.jpg');
    }
    &.wasabi {
        @include image('wasabi.jpg');
    }
    &.formulae {
        @include image('sublime.jpg');
    }
    &.fast {
        @include image('fast.jpg');
    }
}

.cheev {
    padding-right: $cheev-icon-size + $section-padding-horiz * 2;
    position: relative;

    &::after {
        content: '';
        position: absolute;
        right: 10px;
        top: 50%;
        height: $cheev-icon-size;
        width: $cheev-icon-size;
        margin-top: -0.5 * $cheev-icon-size;
        opacity: 0.5;
    }

    &.enabled {
        background: $main-colour-trans;
        text-shadow: $text-shadow-offset $text-shadow-offset $half-white;

        &::after {
            opacity: 1;
        }
    }

    &.visit-1::after {
        content: 'x1';
        font-size: $cheev-icon-size - 20px;
        line-height: $cheev-icon-size;
        text-align: center;
        font-weight: 100;
    }
    &.visit-2::after {
        content: 'x3';
        font-size: $cheev-icon-size - 20px;
        line-height: $cheev-icon-size;
        text-align: center;
        font-weight: 100;
    }
    &.visit-3::after {
        content: 'x10';
        font-size: $cheev-icon-size - 20px;
        line-height: $cheev-icon-size;
        text-align: center;
        font-weight: 100;
    }
    &.stay-1::after {
        @include icon('stay');
    }
    &.stay-2::after {
        @include icon('stay');
        -webkit-transform: rotate(40deg);
        -moz-transform: rotate(40deg);
        transform: rotate(40deg);
    }
    &.stay-3::after {
        @include icon('stay');
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        transform: rotate(90deg);
    }
    &.cartographer::after {
        @include icon('cartographer');
    }
    &.trigger::after {
        @include icon('trigger');
    }
    &.time::after {
        @include icon('time');
    }
    &.perfect::after {
        @include icon('perfect');
    }
    &.name::after {
        @include icon('name');
    }
    &.turtle::after {
        @include icon('turtle');
    }
    &.email::after {
        @include icon('email');
    }
    &.business::after {
        @include icon('business');
    }
    &.spin::after {
        @include icon('spin');
    }
    &.hacker::after {
        @include icon('hacker');
    }
}