$main-colour: #64A0AC;
$enabled-colour: rgb(178, 214, 177);

$grey: #ececec;
$trans-grey: rgba(22,22,22,0.3);

$half-white: rgba(255, 255, 255, 0.5);
$half-black: rgba(0, 0, 0, 0.5);

$text-shadow-offset: 1px;

$max-content-width: 840px;

$hero-image-size-small: 41px;
$hero-image-size: 200px;

$section-padding-horiz: 10px;
$section-padding-vert: 25px;

$post-line-1-height: 1px;
$post-line-2-height: 2px;

$media-query-width-medium: 450px;

$image-link-height: 50px;
$image-link-height-2: 70px;

$skill-colour-top: #93CB9C;
$skill-colour-high: #D4E29B;
$skill-colour-med: #FEF598;
$skill-colour-low: #F9CD8F;

$cheev-icon-size: 50px;
$cheev-anim-time: 3s;