/* line 20, ../scss/crit.scss */
* {
  font-family: Helvetica, Arial, Sans-Serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 0;
}

/* line 28, ../scss/crit.scss */
body {
  margin: 0;
  font-size: 14px;
}

/* line 33, ../scss/crit.scss */
.no-script .script-only {
  display: none;
}

/* line 37, ../scss/crit.scss */
.tranz {
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  transform: translateZ(0);
}

/* line 43, ../scss/crit.scss */
.hidden {
  display: none;
}

/* line 47, ../scss/crit.scss */
.main-colour {
  color: #64a0ac;
}
/* line 50, ../scss/crit.scss */
.main-colour::after {
  background: #64a0ac;
}

/* line 56, ../scss/crit.scss */
section::before {
  content: '';
  position: absolute;
  display: block;
}

/* line 64, ../scss/crit.scss */
h1::after, h2::after, section::after, a::after, .image-link span::after {
  content: '';
  position: absolute;
  display: block;
}

/* line 71, ../scss/crit.scss */
h1, h2 {
  display: inline-block;
  background: rgba(22, 22, 22, 0.5);
  padding: 10px;
  color: white;
  position: relative;
  margin-bottom: 25px;
}
/* line 81, ../scss/crit.scss */
h1::after, h2::after {
  left: 0;
  width: 100%;
  height: 2px;
  bottom: -4px;
  background: rgba(22, 22, 22, 0.5);
}

/* line 90, ../scss/crit.scss */
h2 {
  font-size: 1.3em;
}

/* line 94, ../scss/crit.scss */
section {
  padding: 20px 10px 26px;
  background: white;
  position: relative;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
/* line 104, ../scss/crit.scss */
section::before, section::after {
  left: 0;
  width: 100%;
  background: inherit;
  opacity: 0.7;
}
/* line 111, ../scss/crit.scss */
section::before {
  top: -10px;
  height: 2px;
}
/* line 115, ../scss/crit.scss */
section::after {
  top: -4px;
  height: 2px;
}
/* line 120, ../scss/crit.scss */
section:nth-child(2n) {
  background: #ececec;
}

/* line 125, ../scss/crit.scss */
a {
  text-decoration: none;
  color: white;
  position: relative;
}
/* line 132, ../scss/crit.scss */
a::after {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: white;
}

/* line 141, ../scss/crit.scss */
dt, dd {
  width: 50%;
  padding: 0 5px;
}

/* line 145, ../scss/crit.scss */
dt {
  text-align: right;
}

/* line 148, ../scss/crit.scss */
dd {
  margin: -1.1em 0 5px 50%;
}

/* line 152, ../scss/crit.scss */
.screen-content {
  max-width: 60em;
  margin: auto;
}

/* line 157, ../scss/crit.scss */
.hero {
  background: #64a0ac;
}
/* line 160, ../scss/crit.scss */
.hero * {
  color: white;
}
/* line 164, ../scss/crit.scss */
.hero h1, .hero h2 {
  background: rgba(22, 22, 22, 0.3);
}
/* line 166, ../scss/crit.scss */
.hero h1::after, .hero h2::after {
  background: rgba(22, 22, 22, 0.3);
}
/* line 171, ../scss/crit.scss */
.hero header {
  text-align: right;
}

/* line 175, ../scss/crit.scss */
.hero-content {
  position: relative;
}

/* line 178, ../scss/crit.scss */
.hero-image {
  background: red;
  position: absolute;
  right: 0;
  top: 0;
  height: 41px;
  width: 41px;
}

/* line 186, ../scss/crit.scss */
.hero-content-header {
  display: inline-block;
}

/* line 190, ../scss/crit.scss */
.page-nav {
  margin: -10px 0 20px;
}

/* line 194, ../scss/crit.scss */
.image-link {
  display: block;
  position: relative;
  height: 50px;
  margin-bottom: 10px;
}
/* line 200, ../scss/crit.scss */
.image-link::after {
  display: none;
}
/* line 204, ../scss/crit.scss */
.image-link::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(22, 22, 22, 0.3);
}
/* line 214, ../scss/crit.scss */
.image-link span {
  position: absolute;
  left: 10px;
  bottom: 10px;
}
/* line 220, ../scss/crit.scss */
.image-link span::after {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: white;
}

/* line 230, ../scss/crit.scss */
article {
  margin-bottom: 15px;
}
/* line 233, ../scss/crit.scss */
article header {
  margin-bottom: 10px;
}
/* line 236, ../scss/crit.scss */
article .head {
  margin-bottom: 0;
}

@media (max-width: 450px) {
  /* line 243, ../scss/crit.scss */
  .image-link {
    margin-left: -10px;
    margin-right: -10px;
    padding: 0 10px;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
  }

  /* line 252, ../scss/crit.scss */
  .hero p {
    text-align: center;
  }

  /* line 255, ../scss/crit.scss */
  .hero-content-header {
    position: relative;
    display: inline-block;
  }
  /* line 259, ../scss/crit.scss */
  .hero-content-header h2 {
    padding-right: 51px;
  }
}
@media (min-width: 450px) {
  /* line 268, ../scss/crit.scss */
  article .head {
    display: inline-block;
  }
  /* line 271, ../scss/crit.scss */
  article .sub-head {
    float: right;
  }

  /* line 276, ../scss/crit.scss */
  .article-body {
    padding-right: 10px;
  }

  /* line 280, ../scss/crit.scss */
  .side-links {
    position: relative;
    padding-right: 40%;
    min-height: 150px;
  }
  /* line 285, ../scss/crit.scss */
  .side-links .image-links {
    position: absolute;
    top: 0;
    right: 0;
    width: 40%;
  }
  /* line 292, ../scss/crit.scss */
  .side-links .image-link {
    height: 70px;
  }

  /* line 298, ../scss/crit.scss */
  .hero header {
    text-align: center;
  }

  /* line 301, ../scss/crit.scss */
  .hero-content {
    min-height: 200px;
    padding-right: 210px;
  }

  /* line 305, ../scss/crit.scss */
  .hero-image {
    position: absolute;
    height: 200px;
    width: 200px;
  }
}
