/* line 1, ../scss/main.scss */
body {
  zoom: 1;
}

/* line 6, ../scss/main.scss */
.image-link {
  background-size: cover;
}
/* line 9, ../scss/main.scss */
.image-link.badoo {
  background: url("");
}
