/* line 5, ../scss/main.scss */
.hero-image {
  background-size: cover;
  background-image: url("/assets/img/profile.jpg");
}

/* line 10, ../scss/main.scss */
.image-link {
  background-size: cover;
}
/* line 13, ../scss/main.scss */
.image-link.center {
  background-position: center;
}
/* line 17, ../scss/main.scss */
.image-link.badoo {
  background-image: url("/assets/img/badoo.jpg");
}
/* line 20, ../scss/main.scss */
.image-link.hon {
  background-image: url("/assets/img/hon.jpg");
}
/* line 23, ../scss/main.scss */
.image-link.tfl {
  background-image: url("/assets/img/tfl.jpg");
}
/* line 26, ../scss/main.scss */
.image-link.ps {
  background-image: url("/assets/img/ps.jpg");
}
/* line 29, ../scss/main.scss */
.image-link.wasabi {
  background-image: url("/assets/img/wasabi.jpg");
}
/* line 32, ../scss/main.scss */
.image-link.formulae {
  background-image: url("/assets/img/sublime.jpg");
}
/* line 35, ../scss/main.scss */
.image-link.fast {
  background-image: url("/assets/img/fast.jpg");
}

/* line 40, ../scss/main.scss */
.cheev {
  padding-right: 70px;
  position: relative;
}
/* line 44, ../scss/main.scss */
.cheev::after {
  content: '';
  position: absolute;
  right: 10px;
  top: 50%;
  height: 50px;
  width: 50px;
  margin-top: -25px;
  opacity: 0.5;
}
/* line 55, ../scss/main.scss */
.cheev.enabled {
  background: rgba(100, 160, 172, 0.6);
  text-shadow: 1px 1px rgba(255, 255, 255, 0.5);
}
/* line 59, ../scss/main.scss */
.cheev.enabled::after {
  opacity: 1;
}
/* line 64, ../scss/main.scss */
.cheev.visit-1::after {
  content: 'x1';
  font-size: 30px;
  line-height: 50px;
  text-align: center;
  font-weight: 100;
}
/* line 71, ../scss/main.scss */
.cheev.visit-2::after {
  content: 'x3';
  font-size: 30px;
  line-height: 50px;
  text-align: center;
  font-weight: 100;
}
/* line 78, ../scss/main.scss */
.cheev.visit-3::after {
  content: 'x10';
  font-size: 30px;
  line-height: 50px;
  text-align: center;
  font-weight: 100;
}
/* line 85, ../scss/main.scss */
.cheev.stay-1::after {
  background-image: url("/assets/img/icons/stay.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
/* line 88, ../scss/main.scss */
.cheev.stay-2::after {
  background-image: url("/assets/img/icons/stay.svg");
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-transform: rotate(40deg);
  -moz-transform: rotate(40deg);
  transform: rotate(40deg);
}
/* line 94, ../scss/main.scss */
.cheev.stay-3::after {
  background-image: url("/assets/img/icons/stay.svg");
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
}
/* line 100, ../scss/main.scss */
.cheev.cartographer::after {
  background-image: url("/assets/img/icons/cartographer.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
/* line 103, ../scss/main.scss */
.cheev.trigger::after {
  background-image: url("/assets/img/icons/trigger.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
/* line 106, ../scss/main.scss */
.cheev.time::after {
  background-image: url("/assets/img/icons/time.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
/* line 109, ../scss/main.scss */
.cheev.perfect::after {
  background-image: url("/assets/img/icons/perfect.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
/* line 112, ../scss/main.scss */
.cheev.name::after {
  background-image: url("/assets/img/icons/name.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
/* line 115, ../scss/main.scss */
.cheev.turtle::after {
  background-image: url("/assets/img/icons/turtle.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
/* line 118, ../scss/main.scss */
.cheev.email::after {
  background-image: url("/assets/img/icons/email.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
/* line 121, ../scss/main.scss */
.cheev.business::after {
  background-image: url("/assets/img/icons/business.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
/* line 124, ../scss/main.scss */
.cheev.spin::after {
  background-image: url("/assets/img/icons/spin.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
/* line 127, ../scss/main.scss */
.cheev.hacker::after {
  background-image: url("/assets/img/icons/hacker.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
